.carousel-section {
    background-color: #b18af7;
    padding-top: 100px;
}

.trust-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;

    margin-bottom: 0.5rem;
}

.trust-heading {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.company-logo {
    height: 80px;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.company-logo img {
    height: 100%;
}
