/* Footer Styling */
.footer-section {
    margin-top: 60px;
    position: relative;
    color: #fff;
    background: #b28af8;
    padding: 30px 0;
}

.footer-section .footer-background,
.footer-section .background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.footer-section .container {
    z-index: 1;
    position: relative;
}

.footer-section .text-container {
    width: 100%;
}

.footer-section .text-container h2 {
    font-size: 35px;
    font-family: 'Poppins', Bold;
    margin-bottom: 10px;
}

.footer-section .text-container p {
    font-size: 16px;
    font-family: 'Segoe UI', Regular;
    margin-bottom: 30px;
}

.footer-section .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-section .subscribe-form .form-control {
    border-radius: 40px;
    border: 2px solid #fff;
    background-color: transparent;
    width: 100%;
    padding: 32px 15px;
    max-width: 450px;
}

.footer-section .subscribe-form .form-control::placeholder {
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', Regular;
}

.footer-section .subscribe-form .btn {
    margin-left: -185px;
    border-radius: 30px;
    width: 16%;
    padding: 14px 5px;
    background-color: #fff;
    color: #b359ff;
    font-size: 16px;
    font-family: 'Poppins', Medium;
}

.footer-section .subscribe-form .btn:hover {
    background-color: #b359ff;
    color: #fff;
}

.footer-section .link-container {
    align-items: baseline;
}

.footer-section .link-container .social-icons {
    align-items: flex-start;
    /* left: 20p; */
    gap: 20px;
}
.footer-section .link-container .social-icons a img {
    max-width: 30px;
}

.footer-section .link-container .row {
    align-items: flex-end;
}

.footer-section .link-container p.mt-4 {
    font-size: 14px;
}

.footer-section .footer-img-1 {
    position: absolute;
    top: -135px;
    left: 0;
    height: 280px;
    z-index: -1;
}

.footer-section .footer-img-2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 148px;
}

.footer-section .footer-img-3 {
    position: absolute;
    width: 618px;
    height: 618px;
}
