:root {
    --primary: #b18af7;
    --secondary: #51495f;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.text-justify {
    text-align: justify;
}

.mobile-only {
    display: none;
}

.pc-only {
    display: block;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .title-design {
        font-size: 2rem;
    }

    .navbar-brand {
        margin: auto;
    }

    .navbar-nav {
        text-align: center;
    }

    .pc-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}
