.hero-section {
    background-color: #b18af7;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.navbar {
    padding: 1rem 0;
    z-index: 3;
}

.navbar-brand .logo {
    height: 40px;
}

.navbar-nav .nav-link {
    color: white;
    margin-left: 1rem;
    cursor: pointer;
}

.btn-get-started {
    background-color: white;
    color: #a365f0;
    border: none;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    border-radius: 50px;
}

.btn-get-started .btn-text {
    color: black;
    font-weight: 500;
    font-size: 13px;
    padding: 0 10px;
}

.hero-content {
    z-index: 0;
    color: white;
    background-color: #b18af7;
    padding: 150px 0 50px;
    position: relative;
}

.hero-title {
    z-index: 4;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 0;
    margin-bottom: 50px;
}

.hero-title .black-text {
    color: black;
}

.hero-title .bold-text {
    font-weight: 500;
}

.hero-subtitle {
    z-index: 4;

    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hero-text {
    z-index: 4;
    font-size: 1rem;
    margin-bottom: 2rem;
    max-width: 80%;
}

.card-image {
    z-index: 3;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50vw;
}

.background-image {
    position: absolute;
    top: 0;
    margin-top: -30px;
    right: 0;
    height: 100%;
    z-index: -1;
}

.background-image-2 {
    position: absolute;
    top: 500px;
    left: 0;
    width: 50%;
}

@media (max-width: 991px) {
    .hero-title {
        font-size: 2.5rem;
    }
}
